<nav class="uk-navbar uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-toggle">
            <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
        </a>
        <div class="uk-navbar-dropdown" uk-dropdown>
            <ul class="uk-nav uk-navbar-dropdown-nav">
                <li><a href="#">Archive</a></li>
                <li><a href="#">Donate <span style="font-family:Segoe MDL2 Assets;">&#xE0A5;</span></a></li>
                <li><a href="#">Setting</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </div>
        <button class="button-props uk-button uk-button-default"
                    type="button"
                    name="New">
                    &#xE109;
        </button>
        <%
=begin%>
 <button class="button-props uk-button uk-button-default"
                    type="button"
                    name="SelectAll">
                    &#xE133;
        </button> 
<%
=end%>
        <a class="button-props uk-button uk-button-default"
                    type="button"
                    href="/">
                    &#xE149;
        </a>
    </div>
</nav>

<% for note in @note %>
    <div uk-grid>
        
        <div style="background-color: <%= note.color %>;" class="uk-card uk-card-default uk-card-small uk-width-1-2@m uk-card-hover">
            <button style="font-family:Segoe MDL2 Assets; color: #000000; border: none;"
                    class="uk-button uk-button-default uk-card uk-card-badge"
                    type="button">
                    &#xe10C;
            </button>
            <div uk-dropdown="animation: uk-animation-slide-top-small; duration: 1000">
                <ul class="uk-nav uk-dropdown-nav">
                    <!-- <li class="uk-active"><a href="#">Active</a></li> -->
                    <li><a href="#">Edit</a></li>
                    <!-- <li class="uk-nav-header">Header</li> -->
                    <li><%= link_to 'Archive', note_path(note.id) %></li>

                    <li><%= link_to 'Delete', note_path(note.id),
                            method: :delete,
                            data: { confirm: 'Are you sure?' } %></li>

                    <li class="uk-nav-divider"></li>

                    <li>
                        <%= form_with local: true do |form| %>
                            <div class="container">
                                <!-- <ul> -->
                                    <span class="numbers one">
                                        <%= form.radio_button('color', '#fadcd9') %>
                                        <div class="check"></div>
                                    </span>
                                    <span class="numbers two">
                                        <%= form.radio_button('color', '#feb06a') %>
                                        <div class="check"></div>
                                    </span>
                                    <span class="numbers three">
                                        <%= form.radio_button('color', '#18a558') %>
                                        <div class="check"></div>
                                    </span>   
                                    <span class="numbers four">
                                        <%= form.radio_button('color', '#0074B7') %>
                                        <div class="check"></div>
                                    </span>   
                                    <span class="numbers five">
                                        <%= form.radio_button('color', '#774A62') %>
                                        <div class="check"></div>
                                    </span>   
                                    <span class="numbers six">
                                        <%= form.radio_button('color', 'no_color') %>
                                        <div class="check"></div>
                                    </span>
                                <!-- </ul> -->
                            </div>
                        <% end %>
                    </li>
                </ul>
            </div>
            <%= form_for note do |f| %>
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <!-- <div class="uk-width-auto">
                            <img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg">
                        </div> -->
                        <div class="uk-width-expand">
                            <h3 class="uk-card-title uk-margin-remove-bottom"><input name="title" value=<%= note.title %> /></h3>
                            <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00"><%= note.updated_at %></time></p>
                        </div>
                    </div>
                </div>
                <%= f.fields_for :item do |items| %> 
                    <div class="uk-card-body">
                        <% for item in note.items %>
                            <% if (!item.is_checked) %>
                                <p class="memo">
                                    <span><input name="is_checked[]" type="checkbox" class="uk-checkbox" <%= item.is_checked ? "checked" : "" %> /></span>
                                    <span><input name="memo[]" type="text" class="uk-text" value="<%= item.memo %>" ></span>
                                    <button class="uk-close close-btn" type="button" uk-close></button>                        
                                </p>
                            <% end %>
                        <% end %>
                    </div>

                    <div class="uk-card-footer">
                        <% for item in note.items %>
                            <% if (item.is_checked) %>
                                <p class="memo">
                                    <span><input name="is_checked[]" type="checkbox" class="uk-checkbox" <%= item.is_checked ? "checked" : "" %> /></span>
                                    <span><input name="memo[]" type="text" value="<%= item.memo %>" ></span>
                                    <button class="uk-close close-btn" type="button" uk-close></button>
                                </p>
                            <% end %>
                        <% end %>
                    </div>
                <% end %>
                <div><%= f.submit %></div>
                
            <% end %>
    
        </div>
        
    </div>

<% end %>

<style>
.container {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.close-btn {
    float: right;
    opacity: 30%;
}
.close-btn :hover {
    opacity: 100%;
    color: #FF0000;
}
.memo {
    /* height: 2em;
    background-color: none; */
}
.memo :hover {
    /* background-color: blue; */
}
.button-props {
    font-family:Segoe MDL2 Assets;
    color: #000000;
    border: none;
}
.numbers {
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 2em;
  height: 1.5em;
}
span input[type=radio] {
    position: absolute;
    opacity: 0%;
}

.one .check {
    background: #fadcd9;
}
.two .check {
    background: #feb06a;
   
}
.three .check {
    background: #18a558;
    
}
.four .check {
    background: #0074B7;
    
}
.five .check {
    background: #774A62;
}
.six .check {
    background: none;
    border: solid 1px;
}
span .check {
    display: block;
    position: absolute;
    border-radius: 100%;
    height: 22px;
    width: 22px;
	z-index: -5;
}
span :hover .check {
    border: 1px solid #FFFFFF
}
span .check::before {
    display: block;
    position: absolute;
	content: '';
    border-radius: 100%;
    height: 22px;
    width: 22px;
    top: 0px;
	left: 0px;
	text-align: center;
	line-height: 22px;
    margin: auto;
/* 	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear; */
}
input[type=radio]:checked ~ .check::before{
/*   background: #0DFF92; */
	content:'\1F5F8';
	color: #000000;
	font-size: 1.1em;
}

</style>
