<h1>New Note</h1>

<%= form_with scope: :note, url: notes_path, local: true do |form| %>
    <p>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </p>

    <%
=begin%>
 <%= form_with(model: [ @note, @note.items.build ], local: true) do |form| %>
        <p>
            <span>
                <%= form.check_box :is_checked %>
            </span>
            <span>
                <%= form.text_field :memo %>
            </span>
        </p>
        
        <p>
            <%= form.submit %>
        </p>
    <% end %> 
<%
=end%>

    <p>
        <%= form.label :color %>
        <%= form.text_field :color %>
    </p>

    <h5>Items here</h5>
    

    <p>
        <%= form.submit %>
    </p>

<% end %>